.product-carousel {
	position: relative;
	overflow: auto;
	background: url("../img/doxdirect/carousel-backgrounds/parquet.jpg");
	ul.slides {
		margin: 0;
		li.slide {
			list-style: none;
			float: left;
			div {
				div {
					padding: @small 0;
				}
				&.everyday {
					background-image: url("../img/doxdirect/product/photos/corner002_400h.png");
				}
				&.documents {
					background-image: url("../img/doxdirect/product/photos/paperback007_400h.png");
				}
				&.book {
					background-image: url("../img/doxdirect/product/photos/paperback003_400h.png");
				}
				&.dissertation {
					background-image: url("../img/doxdirect/product/photos/spiral003_400h.png");
				}
				background-position: right;
				background-repeat: no-repeat;
			}
		}
	}
	.btn,
	.dot {
		-webkit-filter: drop-shadow(0 1px 2px rgba(0,0,0,.3));
		-moz-filter: drop-shadow(0 1px 2px rgba(0,0,0,.3));
		-ms-filter: drop-shadow(0 1px 2px rgba(0,0,0,.3));
		-o-filter: drop-shadow(0 1px 2px rgba(0,0,0,.3));
		filter: drop-shadow(0 1px 2px rgba(0,0,0,.3));
	}
	.dots {
		position: absolute;
		left: 0;
		right: 0;
		bottom: @extra-small;
		text-align: center;
		li {
			display: inline-block;
			width: @extra-small;
			height: @extra-small;
			margin-right: @extra-small;

			text-indent: -999rem;

			border: 2px solid @white;
			border-radius: @small;

			cursor: pointer;
			opacity: .4;

			-webkit-transition: background .5s, opacity .5s;
			-moz-transition: background .5s, opacity .5s;
			transition: background .5s, opacity .5s;

			&.active {
				background: @white;
				opacity: 1;
			}
		}
	}
}