div.steps {
	display: table;
	table-layout: fixed;
	background: 0 0;
	box-sizing: border-box;
	counter-reset: ordered;
	width: 100%;
	.step {
		position: relative;
		display: table-cell;
		vertical-align: middle;
		margin: 0;
		width: 25%;
		padding: @tiny @extra-small @tiny @large;
		@media (max-width: @screen-xs-max) {
			padding-left: @small;
		}
		background: @white;
		color: @gray;
		box-shadow: 0 0 0 1px @stepColor;
		// border-radius: 0;
		.content {
			@media (max-width: @screen-xs-max) {
				font-size: 0.8em;
			}
		}
		.description {
			.hidden-xs();
			@media (max-width: @screen-sm-max) {
				font-size: 0.8em;
			}
		}
		i {
			@media (max-width: @screen-xs-max) {
				.responsive-invisibility();
			}
		}
		&:before {
			display: table-cell;
			position: static;
			text-align: center;
			content: counters(ordered,".");
			vertical-align: middle;
			padding-right: .6em;
			font-size: @medium;
			counter-increment: ordered;
			@media (max-width: @screen-xs-max) {
				.responsive-invisibility();
			}
			@media (max-width: @screen-sm-max) {
				font-size: @small;
			}
		}
		&:after {
			position: absolute;
			z-index: 2;
			content: '';
			top: 50%;
			right: 0;
			border: none;
			background-color: @white;
			width: @small;
			height: @small;
			border-bottom: 1px solid @stepColor;
			border-right: 1px solid @stepColor;
			-webkit-transform: translateY(-50%) translateX(50%) rotate(-45deg);
			-ms-transform: translateY(-50%) translateX(50%) rotate(-45deg);
			transform: translateY(-50%) translateX(50%) rotate(-45deg);
		}
		&:first-child {
			padding-left: @small;
			border-radius: @tiny 0 0 @tiny;
		}
		&:last-child {
			padding-left: @small;
			border-radius: 0 @tiny @tiny 0;
			&:after {
				display: none;
			}
		}
		> * {
			display: table-cell;
			vertical-align: middle;
		}
		&.completed {
			background: @blue-palest;
			color: @blue;
			&:before {
				font-family: FontAwesome;
				content: '\f00c';
			}
			&:after {
				background: @blue-palest;
			}
		}
		&.active {
			background: @stepColor;
			color: @white;
			&:after {
				background: @stepColor;
			}
		}
		&.disabled {
			color: @stepColor;
		}

		.title {
			font-size: @small;
			font-weight: @font-weight-normal;
		}
	}
}