<tr class="warning">

	<td colspan="<?php echo $colspan; ?>">

		Your uploaded files need to be consistent with each other and your selected options - so we'll fix that on the next page (or you can upload new files here.)

	</td>

</tr>
