/*!
 * @copyright Copyright &copy; Kartik Visweswaran, Krajee.com, 2015
 * @package bootstrap-fileinput
 * @version 4.1.7
 *
 * File input styling for Bootstrap 3.0
 * Built for Yii Framework 2.0
 * Author: Kartik Visweswaran
 * Year: 2015
 * For more Yii related demos visit http://demos.krajee.com
 */

 @imagePath: '../img/fileinput/';

.file-input {
    overflow-x: auto;
}

.file-loading {
    top: 0;
    right: 0;
    width: 25px;
    height: 25px;
    font-size: 999px;
    text-align: right;
    color: @white;
    background: transparent url('@{imagePath}loading.gif') top left no-repeat;
    border: none;
}

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    text-align: right;
    opacity: 0;
    filter: alpha(opacity=0);
    opacity: 0;
    background: none repeat scroll 0 0 transparent;
    cursor: inherit;
    display: block;
}

.file-caption .glyphicon {
    display: inline-block;
    min-width: 18px;
    float: left;
    margin-top: 2px;
}

.file-caption-name {
    display: inline-block;
    overflow: hidden;
    max-height: 20px;
    padding-right: 10px;
    word-break: break-all;
}

.file-caption-ellipsis {
    position: absolute;
    right: 10px;
    margin-top: -6px;
    font-size: 1.2em;
    display: none;
    font-weight: @font-weight-bold;
    cursor: default;
}

.kv-has-ellipsis .file-caption-ellipsis {
    display: inline;
}

.kv-has-ellipsis {
    padding-right: 17px;
}

.kv-search-container .kv-search-clear {
    position: absolute;
    padding: 10px;
    right: 0px;
}
.file-error-message {
    background-color: @state-danger-bg;
    color: @state-danger-text;
    text-align: center;
    border-radius: @extra-small;
    padding: @extra-small;
    ul {
        list-style: none;
    }
}
.file-caption-disabled {
    background-color: @gray-lighter;
    cursor: not-allowed;
    opacity: 1;
}

.file-input .btn[disabled], .file-input .btn .disabled {
    cursor: not-allowed;
}

.file-preview {
    border-radius: @extra-small;
    border: 1px solid @blue-pale;
    background: @blue-palest;
    padding: @extra-small;
    width: 100%;
    margin-bottom: @extra-small;
}

.file-preview-frame {
    display: table;
    margin: @extra-small;
    height: 160px;
    border: 1px solid @gray-light;
    box-shadow: 1px 1px 5px 0px @gray-lighter;
    padding: 6px;
    float: left;
    text-align: center;
    vertical-align: middle;
}

.file-preview-frame:hover {
    box-shadow: 3px 3px 5px 0px @gray-lighter;
}

.file-preview-image {
    height: 160px;
    vertical-align: text-center;
}

.file-preview-text {
    width: 160px;
    color: #428bca;
    font-size: 11px;
    text-align: center;
}

.file-preview-other {
    padding-top: 48px;
    text-align: center;
}

.file-preview-other i {
    font-size: 2.4em;
}
.file-other-error {
    width: 100%;
    padding-top: 30px;
    text-align:right
}
.file-input-new .file-preview, .file-input-new .close, .file-input-new .glyphicon-file,
.file-input-new .fileinput-remove-button, .file-input-new .fileinput-upload-button,
.file-input-ajax-new .fileinput-remove-button, .file-input-ajax-new .fileinput-upload-button  {
    display: none;
}

.loading {
    background: transparent url('@{imagePath}loading.gif') no-repeat scroll center center content-box !important;
}

.wrap-indicator {
    font-weight: @font-weight-bold;
    color: #245269;
    cursor: pointer;
}

.file-actions {
    text-align: left;
}

.file-footer-buttons {
    float: right;
}

.file-thumbnail-footer .file-caption-name {
    // padding-top: @extra-small;
    font-size: @font-size-small;
    color: @gray;
}

.file-upload-indicator {
    padding-top: 2px;
    cursor: default;
}

.file-upload-indicator:hover {
    font-size: 1.2em;
    font-weight: @font-weight-bold;
    padding-top: 0;
}

.file-drop-zone {
    border:1px dashed @blue-pale;
    background: @white;
    border-radius: @extra-small;
    height: 100%;
    text-align: center;
    vertical-align: middle;
    margin: @small;
    padding: @small;
}

.file-drop-zone-title {
	color: @gray;
    font-size: @font-size-large;
    padding: @small @extra-small;
}

.highlighted {
    border:2px dashed @blue!important;
    background-color: @blue-pale;
}

.file-uploading {
    background-image: url('@{imagePath}loading-sm.gif');
    background-position: center bottom 10px;
    background-repeat: no-repeat;
    opacity: 0.6;
}

.file-icon-large {
    font-size: 1.2em;
}