<div class="container">

	<div class="row">

		<div class="col-sm-24">

			<h2>Reports</h2>

			<?php echo $this->Flash->render(); ?>

			<p class="lead">Report dashboard will go here...</p>

		</div>

	</div>

</div>
