<p class="lead">2: Pay securely through Barclays ePDQ service using your credit card</p>

<ul class="list-inline">
	<li><i class="fa fa fa-cc-mastercard fa-2x color-blue"></i></li>
	<li><i class="fa fa fa-cc-visa fa-2x color-blue"></i></li>
</ul>