@charset "UTF-8";

@import "bootstrap/theme";
@import "modules/spaces";

@import "modules/typography";
@import "modules/structure";
@import "modules/table";
@import "modules/bootstrap";
@import "modules/form";

@import "components/steps";
@import "components/carousel";

// @import "bootstrap-fileinput/fileinput";

div.strapline {
	background: @purple;
	border-bottom: @extra-small solid @blue-pale;
	padding: @extra-small 0;
	ul {
		.pull-left();
		margin-bottom: 0;
		a:not(.btn) {
			color: @blue-pale;
			&:hover {
				color: @white;
			}
		}
	}
	p {
		.pull-right();
		text-align: right;
		color: @white;
		font-weight: @font-weight-light;
		margin: 0;
		&.large {
			.hidden-xs();
			font-size: @small;
		}
		&.small {
			.visible-xs();
			font-size: @extra-small;
		}
	}
}
/*div.contact-details {
	background: url("../img/doxdirect/doc/doc.png") transparent left bottom no-repeat;
	width: 100%;
	min-height: 70px;
}*/


div.contact-details {

	.contact-details-inner {

		&.large {
			.hidden-xs();
			background: url("../img/doxdirect/doc/doc.png") transparent left bottom no-repeat;
			min-height: 70px;
			span.header-phone {
				font-size: @large;
			}
		}

		&.small {
			.visible-xs();
			margin-bottom: @large;
			span.header-phone {
				font-size: @small;
			}
		}

		.header-contact,
		.header-links {
			margin: 0;
//			float: right;
			text-align: right;
			span.header-phone {
				color: @brand-primary;
				font-weight: @font-weight-light;
			}
			span.fa-stack {
				i {
					&.solid {
						color: @purple;
					}
				}
			}
		}

		.header-contact {

			text-align: right;

			span {
				line-height: @extra-small;
				vertical-align: middle;
			}
			i.fa-inverse {
				line-height: @medium + @tiny;
				vertical-align: middle;
			}
		}

		.header-links {
			margin-bottom: @extra-small;
			a:not(:last-child) {
				margin-right: @extra-small;
			}
		}

	}

}

div.previewer {

	img {
		max-height: 100%;
		// display: inline-block;
		width: 100%;
		&.page {
			cursor: pointer;
			border: 1px solid @gray-lighter;
			box-shadow: -@tiny @tiny @tiny @gray-light;
		}
		&.spine {
			// width: 100%;
			// max-width: 10%;
		}
	}

	div.page-blank {
		border: 1px solid @gray-lighter;
		max-height: 100%;
		display: inline-block;
		width: 100%;
	}

	p.page-number {
		.mts();
		text-align: center;
		 font-size: @font-size-large;
		 span.label {
			 font-weight: @font-weight-light;
		 }
	}

	p.page-loader {
		color: @gray-lighter;
		text-align: center;
		.mtl();
		i {
			font-size: 8em;
		}
	}

}

img.preview {
	border: 1px solid red;
}


.divider {
	margin: @extra-small 0rem;
	line-height: 1;
	height: 0em;
	font-weight: @font-weight-bold;
	color: @gray;
	&.horizontal {
		position: relative;
		height: auto;
		margin: '';
		overflow: hidden;
		line-height: 1;
		text-align: center;
		&:before,
		&:after {
			position: absolute;
			content: '';
			width: 50%;
			top: 50%;
			height: 0px;
			border-top: 1px solid @gray-lighter;
			border-bottom: 1px solid @gray-lighter;
		}
		&:before {
			margin-left: calc(-50% -  @extra-small );
		}
		&:after {
			margin-left: @extra-small;
		}
	}
}

div.videowrapper {
	float:none;
	clear:both;
	width:100%;
	position:relative;
	padding-bottom:56.25%;
	padding-top:25px;
	height:0;

	iframe {
		position:absolute;
		top:0;
		left:0;
		width:100%;
		height:100%;
	}
}

div#flashContent {
	height:800px;
	vertical-align:middle;

	p {
		width:auto;
		margin:300px auto;
		text-align:center;
	}
}

div.order-item-fix-option {
	border-radius: @tiny;
	padding: @tiny @extra-small;
	background: @blue-palest;
	margin-bottom: @tiny;
}

div.actions {

	div.btn-group {

		a {
			.btn();
			.btn-default();
		}

	}
}
