<table width="135" border="0" cellpadding="2" cellspacing="0" title="Click to Verify - This site chose Symantec SSL for secure e-commerce and confidential communications.">
	<tr>
		<td width="135" align="center" valign="top">
			<script type="text/javascript" src="https://seal.websecurity.norton.com/getseal?host_name=doxdirect.com&amp;size=S&amp;use_flash=NO&amp;use_transparent=NO&amp;lang=en">
			</script><br />
			<?php echo $this->Html->image(
				'logos/norton/norton_100w.png',
				array(
					'width' => 100,
					'url' => 'http://www.symantec.com/ssl-certificates',
					'target' => '_blank'
				)
			); ?>
		</td>
	</tr>
</table>
