<div class="row">

	<div class="col-xs-12">

		<?php echo $this->element(
			'previewer/pages/left'
		); ?>

	</div>

	<div class="col-xs-12">

		<?php echo $this->element(
			'previewer/pages/right'
		); ?>

	</div>

</div>
