.btn {
	&.btn-link {
		border-width: 0;
	}
	&.btn-action {
		.btn-warning();
	}
}

//.btn-file {
//	position: relative;
//	overflow: hidden;
//	input[type=file] {
//		position: absolute;
//		top: 0;
//		right: 0;
//		min-width: 100%;
//		min-height: 100%;
//		font-size: 100px;
//		text-align: right;
//		filter: alpha(opacity=0);
//		opacity: 0;
//		outline: none;
//		background: white;
//		cursor: inherit;
//		display: block;
//	}
//}

.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
.form-group {
	margin-bottom: @extra-small;
}

.required {
	.control-label:before {
		content: '* ';
		color: @red;
	}
}

.error-message {
	.color-white();
	padding: @extra-small;
	background: @red;
}

legend {
	font-size: @font-size-base;
	font-weight: @font-weight-bold;
	margin-top: @extra-small;
	margin-bottom: @extra-small;
}

form.form-horizontal {
	label {
// 		padding-top: 0;
		&.control-label {
// 			padding-top: 0;
		}
		font-weight: @font-weight-normal;
	}
	.form-control {
		padding: @tiny @extra-small;
	}
	.control-label {
		padding-left: 0;
	}
	.radio {
		min-height: 0;
		padding-top: 0;
		&.inline {
			display: inline-block;
			padding-right : @tiny;
		}
	}
	.form-group {
		&.text,
		&.number,
		&.select {
			label {
				padding-top: @tiny;
			}
		}
		&.checkbox,
		&.radio {
			margin-bottom: @tiny;
		}

	}
}

form.shaded {
	padding: @small;
	background: @gray-lighter;
}

.help-icon {
	color: @gray-light;
	&:hover {
		color: @blue;
		cursor: pointer;
	}
}

.help-block {
	padding: @tiny;
	background: @blue-palest;
	.color-blue();
	.font-weight-light();
}
