//
// Spaces
// --------------------------------------------------

// Should be used to modify the default spacing between objects (not between nodes of * the same object)
// p,m = padding,margin
// a,t,r,b,l,h,v = all,top,right,bottom,left,horizontal,vertical
// x,s,m,l,n = extra-small(@extra-small),small(@small),medium(@medium),large(@large),none(0px)


.last-col {
  overflow: hidden;
}

.pn {
	padding: 0 !important;
}

.ptn, .pvn, .pan { padding-top: 0 !important; }

.ptt, .pvt, .pat { padding-top: @tiny !important; }

.ptx, .pvx, .pax { padding-top: @extra-small !important; }

.pts, .pvs, .pas { padding-top: @small !important; }

.ptm, .pvm, .pam { padding-top: @medium !important; }

.ptl, .pvl, .pal { padding-top: @large !important; }

.pth, .pvh, .pah { padding-top: @huge !important; }


.prn, .phn, .pan { padding-right: 0 !important; }

.prx, .phx, .pax { padding-right: @extra-small !important; }

.prs, .phs, .pas { padding-right: @small !important; }

.prm, .phm, .pam { padding-right: @medium !important; }

.prl, .phl, .pal { padding-right: @large !important; }

.prh, .phh, .pah { padding-right: @huge !important; }



.pbn, .pvn, .pan { padding-bottom: 0 !important; }

.pbx, .pvx, .pax { padding-bottom: @extra-small !important; }

.pbs, .pvs, .pas { padding-bottom: @small !important; }

.pbm, .pvm, .pam { padding-bottom: @medium !important; }

.pbl, .pvl, .pal { padding-bottom: @large !important; }

.pbh, .pvh, .pah { padding-bottom: @huge !important; }



.pln, .phn, .pan { padding-left: 0 !important; }

.plx, .phx, .pax { padding-left: @extra-small !important; }

.pls, .phs, .pas { padding-left: @small !important; }

.plm, .phm, .pam { padding-left: @medium !important; }

.pll, .phl, .pal { padding-left: @large !important; }

.plh, .phh, .pah { padding-left: @huge !important; }


.px {
	.ptx();
	.prx();
	.pbx();
	.plx();
}

.ps {
	.pts();
	.prs();
	.pbs();
	.pls();
}

.pm {
	.ptm();
	.prm();
	.pbm();
	.plm();
}

.pl {
	.ptl();
	.prl();
	.pbl();
	.pll();
}

.ph {
	.pth();
	.prh();
	.pbh();
	.plh();
}

.mn {
	margin: 0 !important;
}
.mtn, .mvn, .man { margin-top: 0 !important; }

.mtx, .mvx, .max { margin-top: @extra-small !important; }

.mts, .mvs, .mas { margin-top: @small !important; }

.mtm, .mvm, .mam { margin-top: @medium !important; }

.mtl, .mvl, .mal { margin-top: @large !important; }

.mth, .mvh, .mah { margin-top: @huge !important; }



.mrn, .mhn, .man { margin-right: 0 !important; }

.mrx, .mhx, .max { margin-right: @extra-small !important; }

.mrs, .mhs, .mas { margin-right: @small !important; }

.mrm, .mhm, .mam { margin-right: @medium !important; }

.mrl, .mhl, .mal { margin-right: @large !important; }

.mrh, .mhh, .mah { margin-right: @huge !important; }



.mbn, .mvn, .man { margin-bottom: 0 !important; }

.mbx, .mvx, .max { margin-bottom: @extra-small !important; }

.mbs, .mvs, .mas { margin-bottom: @small !important; }

.mbm, .mvm, .mam { margin-bottom: @medium !important; }

.mbl, .mvl, .mal { margin-bottom: @large !important; }

.mbh, .mvh, .mah { margin-bottom: @huge !important; }



.mln, .mhn, .man { margin-left: 0 !important; }

.mlx, .mhx, .max { margin-left: @extra-small !important; }

.mls, .mhs, .mas { margin-left: @small !important; }

.mlm, .mhm, .mam { margin-left: @medium !important; }

.mll, .mhl, .mal { margin-left: @large !important; }

.mlh, .mhh, .mah { margin-left: @huge !important; }

.mx {
	.mtx();
	.mrx();
	.mbx();
	.mlx();
}

.ms {
	.mts();
	.mrs();
	.mbs();
	.mls();
}

.mm {
	.mtm();
	.mrm();
	.mbm();
	.mlm();
}

.ml {
	.mtl();
	.mrl();
	.mbl();
	.mll();
}

.mh {
	.mth();
	.mrh();
	.mbh();
	.mlh();
}
