header {
	padding-top: @large;
}

body {
	background-color: @white;
}

footer.footer {
	margin-top: @huge;
	padding: @huge 0;
	background: url("../img/global/bg-footer.png") repeat-x scroll left top @brand-primary;
	color: @white;
	i.fa-inverse {
		color: @brand-primary;
	}
	h4 {
		color: @white;
	}
	a {
		color: @white;
	}
	address {
		border-right: 1px solid @white;
	}
	p.footnote {
		color: @white;
		font-size: .85rem;
		margin-top: @large;
	}
}

div.inner-tube {

	padding: @extra-small;
	&.bordered {
		border: 1px solid @gray-lighter;
		.border-radius(@tiny);

		&.tab-body {
			margin-top: 0 - @tiny;
			border-top: 0;
		}
	}

}

div.message {
	.alert();
	.alert-info();
}

div.header-band {
	padding: @tiny;
	background: @orange;
	p {
		margin: 0;
	}
	a {
		color: @white;
	}
}
