div.table {
	display: table;
	padding: @small;
	background: @white;
	color: @blue;
	&.full-width {
		width: 100%;
	}
	div.table-row {
		padding: @extra-small;
		display: table-row;
		div.table-cell {
			display: table-cell;
			&.text-right {
				text-align: right;
			}
		}
	}
}

table {
	caption {
		color: @brand-primary;
		font-size: @font-size-large;
		font-weight: @font-weight-light;
		padding-bottom: 0;
	}
	tbody {
		tr {
			&.border-dashed {
				td {
					border-top-style: dashed;
				}
			}
		}
		&.sortable {
			tr.order-item-file {
				cursor: move;
				&:hover {
					background: @gray-lightest;
				}
			}
		}
	}
	tr {
		&.tr-header {
			td {
				background: @gray-lighter;
				border-top-width: @extra-small;
				border-top-color: @white;
			}
		}
		&.header {
			th, td {
				background: @gray-lighter;
			}
		}
		&.warning {
			td {
				color: @white;
			}
		}
		&.error {
			td {
				color: @white;
				background: @red;
			}
		}
		&.no-top-border {
			td {
				border-top: 0;
			}
		}
	}
	td {
		&.td-label {
			font-weight: @font-weight-bold;
			a {
				font-weight: @font-weight-normal;
			}
		}
		&.side-bar {
			background-color: @gray-lighter;
		}
		&.amount-total {
			background: @blue-pale;
		}
		&.amount-outstanding {
			background: @orange-pale;
		}
	}
	&.table-white {
		background: @white;
	}

	&.table-sub {
		thead {
			tr {
				th {
					border: 0;
					padding: 0;
				}
			}
		}
	}

	&.xdebug-error.xe-xdebug,
	&.cake-sql-log {
		.table();
		.table-condensed();
		.table-bordered();
	}

}
