h1, h2, h3, h4, h5, h6 {
	font-weight: @font-weight-light;
	small {
		font-weight: @font-weight-light;
	}
}

h1, h3, h4 {
	color: @purple;
}
h2, h5 {
	color: @blue;
}

.font-weight-light {
	font-weight: @font-weight-light;
}
.font-weight-normal {
	font-weight: @font-weight-normal;
}
.font-weight-bold {
	font-weight: @font-weight-bold;
}

.font-size-small {
	font-size: @font-size-small;
}

dl.spaced {
	dt:not(:first-child) {
		.mtx();
	}
}

ul {
	li {
		&.outlined {
			padding: @tiny;
			border: 1px solid @blue-pale;
			border-radius: @tiny;
		}
	}
}

.dark-blue {
	color: @brand-primary;
}

.color-info,
.color-blue {
	color: @brand-info;
}

.color-red,
.color-error {
	color: @brand-danger;
}

.color-orange,
.color-warning {
	color: @brand-warning;
}

.color-green,
.color-success {
	color: @brand-success;
}

.color-white {
	color: @white;
}

.color-gray {
	color: @gray;
}

.color-disabled,
.color-gray-light {
	color: @gray-light;
}

.color-gray-lighter {
	color: @gray-lighter;
}

mark, .mark {
	background-color: @yellow;
}

.text-nowrap {
	white-space: nowrap;
}
